body {
    width: 100vw;
    height: 90vh;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80vh;
    border: 5px solid #F06543;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-right: 20%;
    margin-left: 20%;
}

button {
    /* width: 25%;
    height: 10%; */
    font-weight: bold;
    font-size: 25px;
    background-color: #E0DFD5;
    color: #313638;
    border: 1px solid #F06543;
}

#display {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 35px;
    border: 5px solid #F06543;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0px;
    border-bottom: 0px;
    margin-right: 20%;
    margin-left: 20%;
    color: #E0DFD5;
    background-color: #313638;
}

#numsAndOperators {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    width: 75%;
}

#numsAndOperators button {
    width: 100%;
    height: 100%;
}

#equals {
    height: 60%;
    width: 100%;
}

.highlightOperator {
    background-color: darkgray;
}

#decimal {
    height: 20%;
    width: 100%;
}

.edd {
    display: flex;
    flex-direction: column;
    width: 25%;
}

#delete {
    width: 100%;
    height: 20%;
}

p {
    text-align: center;
    margin: 0;
}